
!/.github
!/.circleci
!/.*

/_*
/build
/builder
/binding
/target
/saves
/node_modules
/.module
/package-lock.json
/Cargo.lock
/.vscode
/.cargo/config.toml

bin
-*
.module
target
node_modules
package-lock.json
Cargo.lock
.warchive*
*.log
*.db
*.tmp
*.build
.DS_Store
.idea
*.code-workspace
mobile.toml
